:root {
  /* ---------------------------------深浅模式转换模块 包括背景、内容、灰色和遮罩--------------------------------- */
  /* 字体 & 图标 后缀越大越重要 */
  --jlink-content-color-0: rgba(255, 255, 255, 0.25);
  --jlink-content-color-1: rgba(255, 255, 255, 0.4);
  --jlink-content-color-2: rgba(255, 255, 255, 0.6);
  --jlink-content-color-3: rgba(255, 255, 255, 0.9);
  --jlink-content-color-4: rgba(0, 0, 0, 0.25);
  --jlink-content-color-5: rgba(0, 0, 0, 0.4);
  --jlink-content-color-6: rgba(0, 0, 0, 0.6);
  --jlink-content-color-7: rgba(0, 0, 0, 0.9);
  /* 灰色 背景色分割线等 */
  --jlink-gray-color-0: #000000;
  --jlink-gray-color-1: #161718;
  --jlink-gray-color-2: #222324;
  --jlink-gray-color-3: #2a2c2d;
  --jlink-gray-color-4: #2f3031;
  --jlink-gray-color-5: #3b3e3f;
  --jlink-gray-color-6: #4f5254;
  --jlink-gray-color-7: #636769;
  --jlink-gray-color-8: #777c7e;
  --jlink-gray-color-9: #8b9092;
  --jlink-gray-color-10: #a6a9ab;
  --jlink-gray-color-11: #c0c2c4;
  --jlink-gray-color-12: #dadcdc;
  --jlink-gray-color-13: #ededee;
  --jlink-gray-color-14: #f7f7f8;
  --jlink-gray-color-15: #ffffff;
  /* 透明遮罩颜色 后缀表示透明度 */
  --jlink-transparency-color-30: rgba(0, 0, 0, 0.3);
  --jlink-transparency-color-50: rgba(0, 0, 0, 0.5);
  --jlink-transparency-color-70: rgba(0, 0, 0, 0.7);
  /* ---------------------------------修改主题模块 包括主题色和强调色 后缀越小越浅--------------------------------- */
  /* 主题色 */
  --jlink-main-color-0: #102b42;
  --jlink-main-color-1: #163958;
  --jlink-main-color-2: #205584;
  --jlink-main-color-3: #2b72b0;
  --jlink-main-color-4: #368edc;
  --jlink-main-color-5: #5ea5e3;
  --jlink-main-color-6: #86bbea;
  --jlink-main-color-7: #afd2f1;
  --jlink-main-color-8: #c3ddf5;
  --jlink-main-color-9: #d7e8f8;
  /* 强调色  红黄绿三种 */
  /* 红 */
  --jlink-red-color-0: #471311;
  --jlink-red-color-1: #5f1a16;
  --jlink-red-color-2: #8e2722;
  --jlink-red-color-3: #be342d;
  --jlink-red-color-4: #ed4138;
  --jlink-red-color-5: #f16760;
  --jlink-red-color-6: #f48d88;
  --jlink-red-color-7: #f8b3af;
  --jlink-red-color-8: #fac6c3;
  --jlink-red-color-9: #fbd9d7;
  /* 黄 */
  --jlink-yellow-color-0: #492600;
  --jlink-yellow-color-1: #623200;
  --jlink-yellow-color-2: #934c00;
  --jlink-yellow-color-3: #c46500;
  --jlink-yellow-color-4: #f57e00;
  --jlink-yellow-color-5: #f79833;
  --jlink-yellow-color-6: #f9b266;
  --jlink-yellow-color-7: #fbcb99;
  --jlink-yellow-color-8: #fcd8b2;
  --jlink-yellow-color-9: #fde5cc;
  /* 绿 */
  --jlink-green-color-0: #113114;
  --jlink-green-color-1: #16411b;
  --jlink-green-color-2: #226228;
  --jlink-green-color-3: #2d8236;
  --jlink-green-color-4: #38a343;
  --jlink-green-color-5: #60b569;
  --jlink-green-color-6: #88c88e;
  --jlink-green-color-7: #afdab4;
  --jlink-green-color-8: #c3e3c7;
  --jlink-green-color-9: #d7edd9;

  /* size */
  --jlink-indentation-0: 0rem;
  --jlink-indentation-1: 0.25rem;
  --jlink-indentation-2: 0.5rem;
  --jlink-indentation-3: 0.75rem;
  --jlink-indentation-4: 1rem;
  --jlink-indentation-5: 1.25rem;
  --jlink-indentation-6: 1.5rem;
  --jlink-indentation-7: 1.75rem;
  --jlink-indentation-8: 2rem;
  --jlink-indentation-9: 2.25rem;
  --jlink-indentation-10: 2.5rem;

  --jlink-item-mini: 1.25rem;
  --jlink-item-tiny: 1.5rem;
  --jlink-item-small: 1.75rem;
  --jlink-item-base: 2rem;
  --jlink-item-big: 2.5rem;
  --jlink-item-large: 2.75rem;
  --jlink-item-huge: 3rem;

  --jlink-image-small: 2rem;
  --jlink-image-default: 3rem;
  --jlink-image-big: 4rem;

  --jlink-font-text-tiny: 0.625rem;
  --jlink-font-text-small: 0.75rem;
  --jlink-font-text-default: 0.875rem;
  --jlink-font-text-large: 1rem;
  --jlink-font-title-small: 0.875rem;
  --jlink-font-title-default: 1rem;
  --jlink-font-title-large: 1.125rem;
  --jlink-font-title-huge: 1.25rem;

  --jlink-radius-small: 0.125rem;
  --jlink-radius-base: 0.25rem;
  --jlink-radius-big: 0.375rem;
  --jlink-radius-large: 0.5rem;
  --jlink-radius-circle: 50%;

  /* 导航栏高度 */
  --senen-navbar-height: 3rem;

  /* 内容上下安全padding */
  --senen-safe-top-bottom: 5rem;

  /* 字重  */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
}
